*{
    margin: 0;
    padding: 0;
}
h1{
   
    color: #ffffff;
    margin-top: 2rem;
    text-shadow: #000000 4px 4px 4px;
    font-family: 'Times New Roman', Times, serif;

}

h1{
        margin-top: 4rem;
        text-align: center;
        font-size:8vmin; font-weight:300; letter-spacing:3px;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
        transition: all 0.5s ease;
    }
    
h1:after,h1:before {
        content: " ";
        display: block;
        border-bottom: 1vmin solid #6600c5;
        border-top: 1vmin solid #ff0cb6;
        height: 1vmin;
        background-color:#f8f8f8;
    }
 
h1:hover{

    transform:scale(1.1); 
    transition: all 0.5s ease;
    
  
} 

h3{
    display: block;
    font-size: 7vmin;
    color: #ffffff;
    margin-top: 2rem;
    text-shadow: #000000 4px 4px 4px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5vmin;
}

body{
    

    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 28%, rgba(171,73,207,1) 74%);
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    margin-top: 3rem;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #000000;
    font-size: 10vmin;
    color: #f72579;
    transition: all 0.8s ease;
    background-color: aliceblue;
}
.box:hover{

    transform:scale(1.1); 
    transition: all 0.8s ease;
    
  
} 

#reset-btn{
    height: 5vmin;
    width: 20vmin;
    margin-top: 2vmin;
    border: none;
    border-radius: 1rem;
    background-color: #f72585;
    color: #ffffff;
    font-size: 2.5vmin;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 0 1rem #000000;
    transition: all 0.7s ease;

}

#reset-btn:hover{

    transform:scale(1.1); 
    transition: all 0.5s ease;
  
} 


#new-btn{
    height: 7vmin;
    width: 20vmin;
    margin-top: 4vmin;
    border: none;
    border-radius: 1rem;
    background-color: #f72585;
    color: #ffffff;
    font-size: 3.5vmin;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 0 1rem #000000;
    transition: all 0.7s ease;

}

#new-btn:hover{

    transform:scale(1.1); 
    transition: all 0.5s ease;
  
} 

.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    /* display: none; */
}